.mainheader {
  background-color: #0000;
  background-image: url(https://images4.alphacoders.com/754/754567.png);
  background-size: cover;
}

.linked {
  background-image: url(https://cdn-images-1.medium.com/max/2000/1*VIseUgb4XLq8CaPzb1m7tg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
